*{
    margin: 0;
}

body{
    margin: 5px;
    background-image: url("images/paper_texture.jpg");
    background-color: rgb(241, 218, 143);
    background-size: 1920px 1080px;
}

/*==================== Toolbar ====================*/

#toolbar{
    background-color: rgb(32, 32, 31);
    width: 100%;
    height: 80px;
}

/*-------------------- Main section container --------------------*/

#combat-tracker{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

/*==================== Profile Library ====================*/

#profile-library{
    background-color: rgb(245, 237, 210);
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 20px;
}

    #search-container{
        margin-left: auto;
        margin-right: auto;
    }
    
        input{
            font-size: 14pt;
        }

    #library-list{
        border: 2px black solid;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        .profile{
            border: 1px black dotted;
            padding: 0 20px 0 20px;
            margin: 1px 2px 1px 2px;
        }

/*==================== Combat Tracking ====================*/

#tracking-section{
    background-color: rgb(251, 249, 242);
    width: 45%;
    height: 100%;
    margin: 10px;
    padding: 20px;
}

    #initiative-container{
        border: 2px black solid;
        width: 100%;
    }

        table{
            width: 100%;
            table-layout: fixed;
        }

            table td{
                padding: 10px 20px 10px 20px;
            }

            table tr:nth-child(1){width: 10%;}
            table tr:nth-child(2){width: 40%;}
            table tr:nth-child(3){width: 25%;}
            table tr:nth-child(4){width: 25%;}

        table th{
            padding: 6px 6px 6px 15px;
            font-size: 18pt;
            color: white;
            background-color: rgb(42, 42, 42);
            text-align: left;
        }

        table tr{
            padding: 4px;
            font-size: 14pt;
            color: black;
            background-color: rgb(226, 226, 226);
        }
        
        table tr:nth-child(even){
            background-color: rgb(200,200,200);
        }

    #initiative-options{}

/*==================== Profile Details ====================*/

#profile-details-container{
    background-color: rgb(245, 237, 210);
    width: 25%;
    height: 100%;
    margin: 10px;
    padding: 20px;
}

    #profile-library, #tracking-section, #profile-details-container{
        box-shadow: 8px 4px 6px rgba(0,0,0,.5);
    }

        #library-list{
            padding: 0;
        }

        .monster-profile{
            list-style: none;
            padding: 4px 20px 4px 20px;
            font-size: 14pt;
            background-color: rgb(235, 235, 235);
        }

        .monster-profile:nth-child(even){
            background-color: rgb(210,210,210);
        }

        .monster-profile:hover{
            background-color: rgb(179, 179, 179);
            font-weight: bold;
        }

    #profile-content{
        display: block;
    }

/*----------------------Modal----------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 24%;
        display: flex;
    }
  
    #close:hover,
    #close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #checkmark, #arrowUp, #arrowDown, #close {
        font-size: 18pt;
        padding: 10px 10px 10px 20px;
        font-weight: 600;
        border: 1px solid black;
        width: 30px;
        height: 30px;
    }

    #close-container{
        margin-left: 90px;
    }

        #close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        /*--------------------HP--------------------*/
            #inputBox{
                font-size: 24pt;
                text-align: center;
                width: 240px;
            }
/*-------------------- General --------------------*/

.section-container{
    border: 2px black solid;
    width: 100%;
    height: 94%;
}

h1{
    font-size: 30pt;
}

h2{
    font-size: 22pt;
}

h3{
    font-size: 18pt;
}

p{
    font-size: 14pt;
}